
.font {
    -fx-font-family: "JetBrains Mono Medium";
}

.head-line {
    -fx-font-family: "Lucida Console";
    -fx-font-weight: normal;
    -fx-font-size: 40;
}

.button-style {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 16;
}

.welcome-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 10;
    -fx-border-fill: #1e5b5b;
    -fx-background-radius: 30;
    -fx-font-size: 20;
}

#small-button {
    -fx-font-size: 12;
}

#on-white {
    -fx-background-color: #83b6b6;
    -fx-text-fill: black;
}

.square-button-style {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-size: 16;
}

.button-style:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.recipe-tile {
    -fx-background-color: rgba(255, 213, 0, 0.86);
    -fx-background-radius: 25;
    -fx-border-color: white;
    -fx-border-width: 6px;
    -fx-border-radius: 25;
    -fx-text-alignment: center;
}

.recipe-tile:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.dialog-pane {
    -fx-background-color: rgba(151, 175, 151, 0.8);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #1e5b5b;
    -fx-text-fill: white;
}

.list-cell{
    -fx-font-size:20.0;
}

.list-cell:even {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.list-cell:odd {
    -fx-background-color: rgba(190, 217, 190, 0.7);
}

.list-cell:filled:hover {
    -fx-background-color: #1e5b5b;
    -fx-text-fill: white;
}

.tile-button {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.recipe-instructions {
    -fx-font-size: 16;
    -fx-font-style: italic;
    -fx-spacing: 1.5;
}

.information-label {
    -fx-background-color: rgba(255, 255, 255, 0.65);
    -fx-text-fill: black;
    -fx-border-radius: 20;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgba(255, 255, 255, 0.75);
}

#help {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #e09188;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.chart-pie-label {
    -fx-font-size: 20;
    //-fx-background-color: white;
    //-fx-border-radius: 50;
    //-fx-border-width: 10;
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.chart-pie-label-line {
    -fx-stroke: rgba(0, 0, 0, 0.90);
    -fx-fill: rgba(0, 0, 0, 0.90);
    -fx-font-weight: 20;
}

.chart-pie-label {
    -fx-fill: black;
    -fx-font-size: 20;
}